.list {
  padding: 20px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.list-content {
  padding: 0 12px;
  margin-top: 4px;

  border-radius: 8px;
  background-color: #e6e6fa;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
