
.modal-opened {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  /* color: white; */
  z-index: 1000;
}

.modal-closed {
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-5%, -50%);
  background: whitesmoke;
  padding: 8px 16px;
  border-radius: 8px;
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  border: none;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.pagenation {
  margin: 32px 0;
  text-align: center;
}

.thisPage {
  font-weight: bold;
  font-size: 3rem;
  text-decoration: underline;
  height: 60px;
  width: 60px;
  margin: 4px 0;
  border-radius: 50%;
}

.page {
  cursor: pointer;
  font-size: 2rem;
  height: 60px;
  width: 60px;
  margin: 4px 0;
  border-radius: 50%;
}

.page ~ .page, .thisPage ~ .page, .page ~ .thisPage {
  margin-left: 16px;
}