.picture-container {
  display: flex;
}

.comic-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  border: solid;
}

.comic-card {
  /* display: flexbox; */
  margin: 4px;
  height: 280px;
  width: 160px;
  list-style: none;
  border: solid red;
}

.comic-createdAt {
  font-size: 0.5rem;
}

.comic-createdAt-old {
  font-size: 0.5rem;
  color: blue;
}

.comic-thumbnail {
  width: 100%;
  margin: 4px 0;
  object-fit: contain;
}

.comic-thumbnail:hover {
  cursor: pointer;
  opacity: 0.6;
}

.comic-name {
  height: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.5rem;
}

.prev {
  width: 60px;
  flex-shrink: 0;
  padding-top: 400px;
  font-size: 60px;
  text-decoration: unset;
  color: gainsboro;
  font-weight: bold;
  background-color: darkgray;
}

.next {
  width: 60px;
  flex-shrink: 0;
  padding-top: 400px;
  font-size: 60px;
  text-decoration: unset;
  color: gainsboro;
  font-weight: bold;
  background-color: darkgray;
}
