.picture-container {
  display: flex;
}

.comic-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  border: solid;
}

.comic-card {
  /* display: flexbox; */
  margin: 4px;
  height: 320px;
  width: 160px;
  list-style: none;
  border: solid red
}

.comic-createdAt {
  height: 16px;
}

.comic-thumbnail {
  width: 100%;
  margin: 4px 0;
  object-fit: contain;
}

.comic-name {
  height: 16px
}

.prev {
  width: 80px;
  flex-shrink: 0;
  padding-top: 400px;
  font-size: 60px;
  text-decoration: unset;
  color: gainsboro;
  font-weight: bold;
  background-color: darkgray;
}

.next {
  width: 80px;
  flex-shrink: 0;
  padding-top: 400px;
  font-size: 60px;
  text-decoration: unset;
  color: gainsboro;
  font-weight: bold;
  background-color: darkgray;
}
