p {
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  border-bottom: solid;
  background-color: rgba(0, 0, 255, 0.3);
}
.slideShowTimeArea {
  height: 24px;
  display: flex;
  margin-right: 12px;
  margin-left: auto;
}

.slideShowLable {
  text-overflow: ellipsis;
  margin-right: 4px;
}

.slideShowTimeInput {
  width: 32px;
}

.tab {
  position: absolute;
  z-index: 1;
  height: 40px;
  width: 40px;
  bottom: -56px;
  right: 8px;
  padding: 4px;
  border-radius: 50%;
  background-color: #d3d3d3;
  opacity: 0.25;
}

.return, .home {
  height: 40px;
  width: 40px;
  margin-right: 12px;
  cursor: pointer;
}

.icons, .options{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}