p {
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  /* position: absolute; */
  top: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  border-bottom: solid;
  background-color: rgba(0, 0, 255, 0.3);
}
.slideShowTimeArea {
  height: 24px;
  display: flex;
  margin-right: 12px;
  margin-left: auto;
}

.slideShowLable {
  text-overflow: ellipsis;
  margin-right: 4px;
}

.slideShowTimeInput {
  width: 32px;
}

.tab {
  height: 24px;
  width: 64px;
  margin-left: auto;
  border: solid;
}

.return, .home {
  height: 40px;
  width: 40px;
  margin-right: 12px;
  cursor: pointer;
}

.icons, .options{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}