/* 変数定義 */
:root {
  --header-menu-height: 1px;
  --navigate-left-right-width: 80px;
}

.pictureModule {
  height: 100%;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(143, 60, 125, 0.3); */
}

.fullPicture {
  object-fit: contain;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.navigateArea {
  height: 100%;
  width: 100%;
  /* contain: none; */
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 255, 0.3);
}

.prevArea {
  height: 100%;
  width: 80px;
  flex-shrink: 0;
  /* background-color: rgba(255, 0, 0, 0.3); */
}

.nextArea {
  height: 100%;
  width: 80px;
  flex-shrink: 0;
  /* background-color: rgba(255, 0, 0, 0.3); */
}

.directoryArea {
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 255, 255, 0.3); */
}

.prevDirectoryArea {
  height: 80px;
  width: 100%;
  flex-shrink: 0;
  /* background-color: rgba(0, 255, 0, 0.3); */
}

.middleArea {
  height: 100%;
  width: 100%;
  flex-shrink: 1;
}

.nextDirectoryArea {
  height: 80px;
  width: 100%;
  flex-shrink: 0;
  /* background-color: rgba(0, 255, 0, 0.3); */
}

.only-reading {
  position: absolute;
  top: -10000px;
}

.delete {
  position: absolute;
  top: 8px;
  left: 8px;

  height: 40px;
  width: 40px;
  padding: 4px;
  border-radius: 50%;

  background-color: #d3d3d3;
  opacity: 0.5;
}
