/* 変数定義 */
:root {
  --header-menu-height: 1px;
  --navigate-left-right-width: 80px;
}

.pictureCover {
  display: flex;
  height: 98vh;
  width: 98vw;
  align-items: center;
}

.heightFullPicture {
  height: 98vh;
  /* position: relative; */
  /* height: calc(98vh - var(--header-menu-height)); */
  margin-left: auto;
  margin-right: auto;
}
.widthFullPicture {
  width: 98vw;
  /* position: relative; */
  /* height: calc(98vh - var(--header-menu-height)); */
  margin-left: auto;
  margin-right: auto;
}

.navigateArea {
  height: calc(98vh - var(--header-menu-height));
  width: 98vw;
  margin: 0, 0, 0, 0;
  top: var(--header-menu-height);
  left: 0;
  display: flex;
  position: absolute;
  /* background-color: rgba(0, 0, 255, 0.3); */
}

.prevArea {
  height: 100%;
  width: 80px;
  left: 0px;
  /* background-color: rgba(255, 0, 0, 0.3); */
}

.nextArea {
  height: 100%;
  width: 80px;
  /* background-color: rgba(255, 0, 0, 0.3); */
}

.directoryArea {
  /* background-color: rgba(0, 255, 255, 0.3); */
}

.prevDirectoryArea {
  height: 80px;
  width: calc(100vw - var(--navigate-left-right-width) * 2);
  margin: 0;
  /* background-color: rgba(0, 255, 0, 0.3); */
}

.middleArea {
  height: calc(100% - 160px);
}

.nextDirectoryArea {
  height: 80px;
  width: calc(100vw - var(--navigate-left-right-width) * 2);
  /* background-color: rgba(0, 255, 0, 0.3); */
}
